body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#page1 header,
#page2 header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#page1 header img,
#page2 header img {
  width: 200px;
  height: auto;
  margin-bottom: 120px;
  opacity: 0.8;
}
@media screen and (max-width: 750px) {
  #page1 header img,
  #page2 header img {
    margin-bottom: 0 !important;
  }
}

main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.hidden {
  display: none;
}

#page2 {
  display: none; /* Masquer la page 2 par défaut */
}

.page {
  display: block;
}

.color-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-btn:hover {
  transform: scale(1.1);
}

.bouttons {
  justify-content: center;
  margin: 10px 0;
}

.bouttons button {
  margin: 0 5px;
}

.board {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.settings {
  display: flex;
  gap: 15px;
  margin: 15px;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  .menus {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .background-image {
    bottom: 0 !important;
  }
  main {
    display: flex !important;
    flex-wrap: wrap;
  }
  .vue {
    max-height: 60px !important;
  }
  #page2 {
    max-height: 100vh !important;
  }
  #page2 header img {
    margin-top: 90px;
  }
  .board {
    margin-top: 105px;
  }
  .settings {
    gap: 0 !important;
    margin-top: 65px;
  }
}
.background-image {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.settings button {
  width: 150px;
  height: 42px;
  margin-top: 49.5px;
}
.settings,
.guess-section,
.bouttons,
.actions,
.vue {
  margin-bottom: 15px;
}

.settings label,
.guess-section label {
  display: block;
  margin-bottom: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
  max-width: 200px;
}

button {
  background-color: #4e54c8;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a3e9f;
}
.color-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#color-buttons p {
  margin-bottom: 10px; /* Espacement entre le paragraphe et les boutons */
  font-size: 18px; /* Taille du texte */
}
.color-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-btn:hover {
  transform: scale(1.1);
}

.vue {
  background: rgba(255, 255, 255, 0.675);
  color: #333;
  padding: 10px;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}
.modal img {
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

/*style vue*/
.color-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.color-display {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: transparent;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background-color: #3a3e9f;
}
.theme-selector {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.theme-selector button {
  width: 70px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-selector button:hover {
  background-color: #4e54c8;
  color: white;
}
/* Styles pour les boutons de thème */
.btndefault {
  background-color: #4e54c8 !important;
}

.btnHéros {
  background-color: #c70b0beb !important;
}

.btndark {
  background: linear-gradient(
    135deg,
    #1c1c3b,
    #1f5fd8,
    #f54ba2,
    #f9d423
  ) !important;
}

.btndefault:hover,
.btnHéros:hover,
.btndark:hover {
  background-color: rgba(0, 0, 0, 0.529) !important;
}

/* Styles pour le popup */
.popup {
  display: none; /* Caché par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  color: black;
  cursor: pointer;
}
.popup h2,
p {
  color: #000;
}
button:focus {
  outline: none;
  touch-action: manipulation;
}

input:focus,
button:focus {
  outline: none;
}
.color-btn:hover {
  transform: scale(1.1);
}
.repetition-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.repetition-option label {
  font-size: 1.5rem;
}
.repetition-option select {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: #fff;
}
@media screen and (max-width: 750px) {
  .repetition-option select {
    font-size: 19px;
  }
}

#sound-toggle {
  background-image: url("img/icons8-no-audio-50.png"); /* Image par défaut (son désactivé) */
  background-size: cover;
  width: 90px;
  height: 30px;
  border: none;
  cursor: pointer;
}

#sound-toggle:active {
  background-image: url("img/icons8-audio.gif"); /* GIF actif (son activé) */
  width: 40px;
  height: 40px;
}

#sound-toggle:disabled {
  background-image: url("img/icons8-no-audio-50.png"); /* Image désactivée (son désactivé) */
}
