@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Par défaut, le mode clair est appliqué */

/* Mode sombre */
body.dark-mode {
  background: #121212;
  color: #fff;
}

body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
/*couleur du scroll*/
/*html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #c747d2;
}  */

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fffffff2;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: #c747d2;
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #c747d2;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #e58fec;
  border-bottom: 0.2rem solid #e58fec;
  padding: 0.5rem 0;
}
/* Exemple de styles pour le header */
body.dark-mode header {
  background-color: #333;
  color: #fff;
}
body.dark-mode header a {
  color: #fff;
}

body.dark-mode header .navbar a {
  color: #fff;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 900px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: white;
  }
  body.dark-mode header .navbar {
    background-color: #333;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #0e2431;
    font-size: 2rem;
  }
  body.dark-mode .navbar ul li a {
    color: #ddd;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #e58fec;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #e58fec;
  }
  body.dark-mode header .navbar ul li a.active,
  body.dark-mode header .navbar ul li a:hover {
    padding: 1rem;
    color: #a506adba;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #a506adba;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  body.dark-mode .fa-times {
    transform: rotate(180deg);
    color: #ddd !important;
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* Ma section  */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: #e58fec;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #1e2229;
  text-transform: none;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  background: white 70%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: none;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #c747d2;
  box-shadow: 0px 5px 18px rgba(34, 36, 50, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #37353c;
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* Style pour la section Home */
body.dark-mode .home {
  background: #e48fecab;
}
body.dark-mode .home .btn {
  background: #c747d28b;
}
body.dark-mode .home .content h2 {
  color: #fff;
}

/* social icons  */
.socials {
  position: relative;
  margin-top: 9rem;
  margin-left: 4rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #fffffe;
  background-color: #09011b79;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #da06a2;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #0024b6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}

/* Style pour les icônes de réseaux sociaux */
body.dark-mode .social-icons a {
  background-color: #222;
}

body.dark-mode .social-icons a:hover {
  background-color: #555;
}

/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home {
    flex-wrap: wrap-reverse;
  }
  .home h2 {
    margin-top: 10rem;
    text-transform: none;
  }
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: 10rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
  .home .content {
    margin-top: -5rem;
  }
}

/* fin Ma section  */

/* about section starts */
.about {
  background: rgb(255, 255, 255);
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 45rem;
  height: 60rem;

  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  /* mix-blend-mode: luminosity; */
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 3.5rem;
}
.about .row .content .tag {
  font-size: 2rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #c747d2;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 4em;
  transition: 0.3s;
  color: #fff;
  background: #a506ad;
  box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #3b3945;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* Styles pour la section About */
body.dark-mode .about {
  background: #222;
}
body.dark-mode .about h2 {
  color: #ddd;
}
body.dark-mode .about span {
  color: #c747d28f;
}
body.dark-mode .about .row .content h3 {
  color: #ddd;
  font-size: 2.5rem;
}
body.dark-mode .about .row .content span {
  color: #c747d2a0;
}
body.dark-mode .about .about-text {
  color: #ddd;
}
body.dark-mode .resumebtn .btn {
  color: #222;
  background: #a506adba;
}
body.dark-mode .resumebtn .btn span {
  color: #222 !important;
}

body.dark-mode .resumebtn .btn:hover {
  background: #ddd;
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    height: 43rem;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills {
  min-height: 90vh;
  background: #e58fec;
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: #c747d2;
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.skills .container .bar {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color:  rgba(0, 0, 0, 0.4) !important;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
  text-align: center;
}
.skills .container .bar .info a span {
  color: #fff;
}
.skills .container .bar .info a span:hover {
  color: #c747d2;
}

.skills .container .bar .info li {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Poppins";
  list-style: circle;
  text-align: start;
  margin-left: 20px;
  text-transform: none;
}

/* Styles pour la section Skills */
body.dark-mode .skills {
  background: #e48fecab;
}
body.dark-mode .skills h2 {
  color: #444;
}
body.dark-mode .skills .heading span {
  color: #c747d2a0;
}
body.dark-mode .skills .container {
  background: #44444485;
}
body.dark-mode .skills h2 {
  color: #fff;
}

body.dark-mode .skills .skill {
  background: #444;
  color: #fff;
}

body.dark-mode .skills .skill .skill-name {
  color: #444;
}
body.dark-mode .skills .container .bar .info span {
  color: #fff;
}
body.dark-mode .skills .container .bar .info a span {
  color: #c747d2a0;
}
body.dark-mode .skills .container .bar .info li {
  color: rgb(27, 27, 27);
}

/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
  .skills .container .bar .info ul li {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }

  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 601px) {
  .skills .container {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    width: 95%; /* Par exemple, ajustement pour les écrans moyens */
  }

  .skills .container .row {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Exemple : 3 colonnes pour cette taille d'écran */
    margin: 1rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
    gap: 1rem;
  }
}

/* skills media queries ends*/
/* skills section ends */

/* education section starts */
.education {
  background: #fefefe;
  min-height: 80vh;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgba(128, 128, 128, 0.313);
}
.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.67);
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #09090a;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}
.education h4 {
  font-size: 2rem;
  color: #e58fec;
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
body.dark-mode .education {
  background: #444;
}
body.dark-mode .education .box-container .box {
  background-color: rgba(255, 255, 255, 0.439);
}
body.dark-mode .education h1 {
  color: #ddd;
}
body.dark-mode .education span {
  color: #c747d2a0;
}

body.dark-mode .education .box-container .box .content h3 {
  color: #444;
}

body.dark-mode .education h4 {
  color: #c747d2a0;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
/* education media queries ends*/
/* education section ends */

/* experience section starts */
.experience {
  background-color: #e58fec;
}
.experience .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.experience .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2;
}
.experience .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/*circles on timeline*/
.experience .container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  color: #252629;
  font-family: "";
}
.experience .left {
  left: 0;
}
.experience .right {
  left: 50%;
}
/* arrows pointing right */
/* .experience .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
} */
/* arrows pointing left  */
/* .experience .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
} */
.experience .right::after {
  left: -16px;
}
.experience .content {
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.experience .content .tag {
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.experience .content .desc {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
.experience .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e58fec;
}
.experience .content .desc p {
  font-size: 1.2rem;
}
.experience .heading span {
  color: #cd46d9;
}
body.dark-mode .experience {
  background: #e48fecab;
}
body.dark-mode .experience .timeline::after {
  background: #444;
}
body.dark-mode .experience h2 {
  color: #fff;
}
body.dark-mode .experience .heading span {
  color: #c747d2a0;
}
body.dark-mode .experience .container::after {
  background-color: #444;
}
body.dark-mode .experience .content {
  background-color: #444;
}
body.dark-mode .experience .left::before {
  border: medium solid #444;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #444;
}
body.dark-mode .experience .right::before {
  border: medium solid #444;
  border-width: 10px 10px 10px 0;
  border-color: transparent #444 transparent transparent;
}
body.dark-mode .experience .container::after {
  background-color: #444;
  border: 4px solid #444;
}

/* work section starts */
.work {
  /* background: #010124; */
  background: white;
}
.work h2 {
  color: rgb(26, 24, 34);
  padding: 1rem;
}
.work .heading span {
  color: #e58fec;
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}
.work .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 30rem;
}
.work .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}
.work .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.9);
}
.work .box-container .box .content .tag h3 {
  font-size: 2rem;
}
.work .box-container .box:hover .content {
  top: 25%;
}
.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .desc p {
  font-size: 1.5rem;
  text-transform: none;
}
.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.work .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.5rem;
  color: #fff;
  background: #c747d2;
  margin-right: 2rem;
}
.work .desc .btns .btn:hover {
  background: #3b3945;
}
.work .viewall {
  display: flex;
  justify-content: center;
}
.work .viewall .btn {
  background: #c747d2;
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  font-weight: 700;

  box-shadow: 0px 5px 18px rgba(34, 36, 50, 0.6);
  text-align: center;
}
.work .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.work .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.work .viewall .btn:hover {
  background: #3b3945;
  color: #000;
}
.work .viewall .btn:hover i {
  transform: translateX(5px);
}
body.dark-mode .work {
  background: #444;
}
body.dark-mode .education .box-container .box {
  background-color: rgba(255, 255, 255, 0.439);
}
body.dark-mode .work h2 {
  color: #ddd;
}
body.dark-mode .work span {
  color: #c747d2a0;
}
body.dark-mode .work .box-container .box .content {
  background: #444;
}
body.dark-mode .work .box-container .box .content .tag {
  background: #444;
}

body.dark-mode .work .viewall .btn {
  color: #222;
  background: #a506adba;
  transition: 0.5s;
}
body.dark-mode .work .viewall .btn span {
  color: #222 !important;
}

body.dark-mode .work .viewall .btn:hover {
  background: #ddd;
  color: #222;
}
body.dark-mode .work .desc .btns .btn {
  color: #444;
  background: #a506adba;
}
body.dark-mode .work .desc .btns .btn:hover {
  background: #ddd;
}

/* work section ends */

/* view all button */
.morebtn {
  display: flex;
  justify-content: center;
}
.morebtn .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  text-align: center;
}
.morebtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.morebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.morebtn .btn:hover {
  background: #1a047e;
}
.morebtn .btn:hover i {
  transform: translateX(5px);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .experience {
    min-height: 80vh;
  }
  .experience .timeline {
    margin-top: 2rem;
  }
  .experience .timeline::after {
    left: 31px;
  }
  .experience .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }
  /* .experience .container::after {
    font-size: 2.2rem;
  } */
  .experience .container::before {
    left: 61px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .experience .left::after {
    left: 15px;
  }
  .experience .right::after {
    left: 15px;
  }
  .experience .right {
    left: 0%;
  }
  .morebtn {
    margin-top: 3rem;
  }
}
/* experience media queries ends */
/* experience section ends */

/* contact section starts */
.contact {
  background: #e58fec;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container {
  text-transform: none;
  max-width: 1050px;
  width: 100%;
  background: #ffffff9a;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(61, 56, 60, 0.844);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: auto;
  position: relative;
  filter: drop-shadow(20px 10px 0px #70707044);
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
  margin-top: 6rem;
}
#contact-form {
  text-transform: none;
}

/* Styles pour la section Contact */
body.dark-mode .contact {
  background: #e48fecab;
}
body.dark-mode .contact h2 {
  color: #ddd;
}
body.dark-mode .contact span {
  color: #c747d2a0;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  text-transform: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb95;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
form .checkbox {
  margin: 1rem;
}
.checkbox label {
  font-size: 1.5em;
  text-transform: none;
}
.contact .container p {
  font-size: 1.5em;
  text-transform: none;
  text-align: center;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 4em;
  padding: 13px 25px;
  background: #aa06ad;
  box-shadow: 0px 5px 10px rgba(69, 70, 75, 0.66);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #2d2b35f5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* Style dar form */

body.dark-mode .contact .contact-form input,
body.dark-mode .contact .contact-form textarea {
  background: #333;
  color: #ddd;
}
.button-area button {
  color: #fff;
  background: #aa06ad;
}

body.dark-mode .button-area button {
  color: #444;
  background: #a506adba;
}
body.dark-mode .button-area button:hover {
  background: #ddd;
}
body.dark-mode .button-area button i {
  transition: 0.3s;
  color: #444;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background: white;
}
.footer .box-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.footer .box-container .box {
  flex: 1 1 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .box-container .box_share {
  flex: 1 1 5rem;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin-top: 10px;
}
.footer .box-container .box .links {
  display: flex;
  gap: 15px;
}
.footer .box-container .box h3,
.footer .box-container .box_share h3 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.76);
  padding-bottom: 1rem;
  font-weight: normal;
  text-align: center;
}
.footer .box-container .box p,
.footer .box-container .box_share p {
  font-size: 1.5rem;
  color: gray;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i,
.footer .box-container .box_share p i {
  padding-right: 1rem;
  color: #e58fec;
}
.footer .box-container .box a,
.footer .box-container .box_share a {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.727);
  padding: 0.3rem 0;
  display: block;
  font-weight: 800;
}
.footer .box-container .box a:hover,
.footer .box-container .box_share a:hover {
  color: #e58fec;
}
.footer .box-container .box_share .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box_share .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: grey;
  border: none;
}
.footer .box-container .box_share .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #e58fec;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: black;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #e58fec;
}

/* Autres sections spécifiques */
body.dark-mode .footer {
  background: #333;
  color: #fff;
}
body.dark-mode .footer .box-container .box a {
  color: #fff;
}
body.dark-mode .footer .box-container .box h3 {
  color: #fff;
}
body.dark-mode .footer .box-container .box a:hover {
  color: #a506adba;
}
body.dark-mode .footer .box-container .box .share a:hover {
  color: #a506adba;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
  .footer .box-container .box a:hover {
    color: #e58fec;
  }
  .footer .box-container .box .links {
    display: none;
  }
  .footer .box-container .box_share {
    flex-direction: column;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #db8fe9;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
body.dark-mode #scroll-top {
  background: #a506adba;
  color: #444;
}
/* scroll top ends */
/*style bouton mode*/
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#theme-toggle img {
  width: 26px;
  height: 26px;
  transition: transform 0.3s ease;
}

#theme-toggle:hover img {
  transform: scale(1.5); /* Agrandit légèrement l'image au survol */
}
/*style bouton mode ends*/
